<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.StatusNavClass(ViewContext)" id="status" asp-page="./Index">Status</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.LogsNavClass(ViewContext)" id="logs" asp-page="./Logs">Transaction logs</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.DepositNavClass(ViewContext)" id="deposit" asp-page="./Deposit">Deposit</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.WithdrawNavClass(ViewContext)" id="withdraw" asp-page="./Withdraw">Withdraw</a></li>
</ul>
