@page
@model Etherna.EthernaCredit.Areas.Credit.Pages.DepositModel
@{
    ViewData["Title"] = "Deposit";
    ViewData["ActivePage"] = ManageNavPages.Deposit;
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <p>How much do you want to load into your account? (Hint: it's free for now)</p>
        <form id="deposit" asp-area="Deposit" asp-page="DepositConfirm" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var ammount in new[] { "$0.10", "$0.50", "$1", "$5", "$10" })
                    {
                        <button type="submit" name="ammount" class="btn btn-primary" value="@ammount">@ammount</button>
                    }
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}