@page
@model Etherna.CreditSystem.Areas.Manage.Pages.IndexModel
@{
    ViewData["Title"] = "Credit status";
    ViewData["ActivePage"] = ManageNavPages.Status;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="EthereumAddress"></label>
            <p>@Model.EthereumAddress</p>
        </div>
        <div class="form-group">
            <label asp-for="CreditBalance"></label>
            <p>@Model.CreditBalance.ToFinancialString(prefixSymbol: "$")</p>
        </div>
        @if (Model.HasUnlimitedCredit)
        {
            <div class="form-group">
                <p>Your account has unlimited credit, deposits and withdrawals are disabled.</p>
            </div>
        }
    </div>
</div>