@page
@model Etherna.CreditSystem.Areas.Manage.Pages.WithdrawModel
@{
    ViewData["Title"] = "Withdraw";
    ViewData["ActivePage"] = ManageNavPages.Withdraw;
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        @if (Model.CanWithdraw)
        {
            <p>How much do you want to withdraw from your account? (min: $@Model.MinLimit, max: $@Model.MaxLimit)</p>

            <form id="withdraw" method="post">
                <div class="form-group">
                    <label asp-for="Input.Ammount"></label>
                    <input asp-for="Input.Ammount" class="form-control" />
                    <span asp-validation-for="Input.Ammount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Withdraw</button>
                </div>
            </form>
        }
        else
        {
            <p>Sorry, currently you cannot withdarw any credit.</p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}