@*  *   Copyright 2021-present Etherna Sa
    *
    *   Licensed under the Apache License, Version 2.0 (the "License");
    *   you may not use this file except in compliance with the License.
    *   You may obtain a copy of the License at
    *
    *       http://www.apache.org/licenses/LICENSE-2.0
    *
    *   Unless required by applicable law or agreed to in writing, software
    *   distributed under the License is distributed on an "AS IS" BASIS,
    *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    *   See the License for the specific language governing permissions and
    *   limitations under the License.
*@

@page
@model Etherna.CreditSystem.Areas.Manage.Pages.WithdrawModel
@{
    ViewData["Title"] = "Withdraw";
    ViewData["ActivePage"] = ManageNavPages.Withdraw;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        @if (Model.CanWithdraw)
        {
            <p>How much do you want to withdraw from your account? (
                min: @Model.MinLimit.ToFinancialString(roundMode: MidpointRounding.ToZero, suffixSymbol: " xDAI"),
                max: @Model.MaxLimit.ToFinancialString(roundMode: MidpointRounding.ToZero, suffixSymbol: " xDAI"))</p>

            <form id="withdraw" method="post">
                <div class="mb-3">
                    <label asp-for="Input.Amount"></label>
                    <input asp-for="Input.Amount" class="form-control" />
                    <span asp-validation-for="Input.Amount" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Withdraw</button>
                </div>
            </form>
        }
        else
        {
            <p>Sorry, currently you cannot withdarw any credit.</p>
        }
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}