@page
@model Etherna.EthernaCredit.Areas.Withdraw.Pages.WithdrawConfirmModel
@{
    ViewData["Title"] = "Withdraw confirm";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <p>An ammount of $@Model.WithdrawAmmount has been withdrawn from your account</p>
        <p><a asp-area="Manage" asp-page="index">Return to account</a></p>
    </div>
</div>